.navbar a{
  color:black;
  font-weight: 50px;
}
.navbar a:hover{
  color: chocolate;
}
 .title{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-weight: 50px;
    text-align: center;
    color: white;
    }
    .title1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-weight: 50px;
        text-align: center;
        color: white;
    

    }
    .title h4{
        color:yellow;
        text-align: center;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .title p{
         text-align: center;
         color: greenyellow;

    }
    .title a{
         
         background-color:unset;
    
         border-inline-color:black;
    }
    .btn{
         border-radius: 100px;
         text-align: center;
         position: absolute;
         display: inline-block;
         margin-bottom: 0;
         white-space: nowrap;
         background: #ffffff;
         border: 2px solid goldenrod;

        
    }
    .title .smoothScroll{
        background: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 100px;
        color: #444;
        font-family:'Times New Roman', Times, serif;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0px 250px 0px 0px;
        margin-top: 20px;
        text-align: center;
        margin-right: 100%;
        padding: 10px;
        
               }
      .smoothScroll:hover{
        background: transparent;
        border-color: #ffffff;
        color:#ffffff;
        text-align: center;
        text-decoration: none;
        
      }
    .img-circle{
         border-radius: 50px;
    }
 .title h1{
         color:white;
        font-size:50px;
         text-align: center;
      }
      
      footer {
        background: #000;
        color: #ffffff;
        padding: 80px 0px;
        height: 600px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
    }
    
    footer .col-md-4 .fa {
      color: #ffffff;
      padding-right: 8px;
    }
    footer .col-md-4 h3{
      color: #ffffff;
    }
    footer .col-md-4 p{
      color: #777;
    }
    footer .col-md-5 h3{
      color: #ffffff;
    }
    footer .col-md-5 p{
      color: #777;
    }
    footer hr {
      border-color: #121212;
      margin-top: 62px;
      margin-bottom: 42px;
    }
    
    footer .footer-copyright {
      padding-top: 12px;
    }
      
      .blog a{
           border-radius: 20px;
           background-color: white;
           border-color:black;

      } 
      .img-circle {
        border-radius: 50px;
   }

   .image {
        background: url(img/single-post-bg.jpg) no-repeat;
        height: 70vh;
        width: 1400px;

   }

   .parallax-section {
        background-attachment: fixed !important;
        background-size: cover !important;
        overflow: hidden;
   }

   .overlay {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 10;
        left: 0;
        right: 0;
        bottom: 10;
   }
      #home {
        background-size: cover;
        background-position: center center;
        color: #ffffff;
        display: -webkit-box;
        display: -webkit-flex;
         display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
         align-items: center;
        position: relative;
        text-align: center;
      }  
      .main-home{
          background: url(img/img3.jpg) no-repeat;
          height: 100vh;
        background-size: cover;
      }
      .social-icon {
        position: relative;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .social-icon  {
        text-align: center;
    }
    
    .social-icon a {
        border: 1px solid;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
    }
    
    .social-icon a:hover {
        border-color: #bfba55;
        color: #bfba55 !important;
        transform: scale(1.1);
        transition:transform 1s;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Merriweather', serif;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
      
      h1 {
          font-size: 62px;
          padding-bottom: 14px;
          margin-bottom: 0px;
      }
      .navbar-default {
        background: #ffffff;
        margin: 0 !important;
        padding: 18px 0;
    }
    .main{
        background: url(img/about-bg.jpg) no-repeat;
        height: 70vh;
        width: 1400px;
      }
      #about .col-md-6 {
        padding-top: 22px;
        padding-bottom: 32px;
      }
      
      #about .col-md-6 img {
        padding: 22px 0px 22px 22px;
      }
      
      #about .col-md-4 {
        padding-bottom: 32px;
      }
      
      #about .col-md-4 img {
        padding-top: 12px;
      }
      .main-gallery {
        background: url(img/gallery-bg.jpg) no-repeat;
        height: 70vh;
        width: 1400px;
      }
      .contact{
        background: url(img/contact-bg.jpg) no-repeat;
        height: 70vh;
        widows: 1400px;
      }
      #blog-single-post .blog-single-post-image {
  padding-top: 22px;
}

#blog-single-post .blog-single-post-image .col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 22px;
  
}

#blog-single-post .blog-single-post-image img {
  border-radius: 1px;
  padding-right: 12px;
}

#blog-single-post .blog h3 {
  padding-top: 16px;
}
#gallery span {
    display: block;
    padding-bottom: 32px;
  }
  
  #gallery .col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  #gallery .gallery-thumb {
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    cursor: pointer;
    display: block;
    position: relative;
    top: 0px;
    transition: all 0.4s ease-in-out;
  }
  
  #gallery .gallery-thumb:hover {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
  }
  
  #gallery .gallery-thumb img {
    width: 100%;
  }
  
  #gallery .col-md-12 p {
    padding-top: 22px;
    text-align: center;
  }
  #contact .col-md-4 {
    padding-left: 0px;
  }
  
  #contact .col-md-12 {
    padding-left: 0;
  }
  
  #contact form {
    padding-top: 32px;
  }
  
  #contact .form-control {
    border: 2px solid #f0f0f0;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
  }
  
  #contact .form-control:hover {
    border-color: #555;
  }
  
  #contact input {
    height: 50px;
  }
  
  #contact input[type="submit"] {
    background: #bfba55;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
  }
  
  #contact input[type="submit"]:hover {
    background: #333;
  }
  